html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.sidebar {
    width: 220px;
    background-color: #343a40;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 2rem;
}

.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}